<p>This is a project for building your ember app locally using selenium</p>

<h4>But why? We already have ember-fastboot</h4>

<p>Fastboot requires a server which, although perfect for large projects, still doesn't make much sense if all you've got a few static pages</p>

<p>Besides, a ton of real life mobile devices can't properly run Ember without the user installing either the firefox or the chrome browser, and you really have no guarantee that your audience (complacent with their browsing habits) will want to install another app just to use your site</p>