<p>Install this either from npm, github, or gitlab</p>

{{code-snippet name="-install.sh"}}

<p>Be aware that you'll need to have Google Chrome installed on your machine, as webdriver uses it to crawl</p>