<p>You'll need to proper install the following</p>

{{code-snippet name="-requirements.sh"}}

<small>There is no blueprint to do this because ember-selenium-build's version requirements are loose, whereas yours might be very tight</small>

<p>In addition, ember-selenium-build will scaffold out a mock server route which it will use to figure out when your app is ready. In general, this won't be an issue even if you have a server dir in your project</p>