<p>You'll need to proper install the following</p>

{{code-snippet name="-requirements.sh"}}

<small>There is no blueprint to do this because ember-selenium-build's version requirements are loose, whereas yours might be very tight</small>

<p>*note: if you're using this with ember-cli-github-pages or ember-gitlab-pages, be aware you are no longer forced to depend on hash location type!</p>