<p>Run the build command with ember</p>

{{code-snippet name="-usage.sh"}}

<p>That's it!</p>

<h4>Why This Site?</h4>
<p>By the way, in case you're wondering I bothered to write up a website for an explanation that can be done in just a README.markdown file in the project's github... </p>

<p>Well, it's because this dummy app is apart of the test that ensures this app is working.</p>

<p>In fact, this site is built with Ember, yet it's a static site and so will work even if you turn off your javascript!</p>

<h4>Notice!</h4>

<p>If you're using this with ember-cli-github-pages or similar, be aware that improperly forking the ember selenium-build:build process results in a ton of headache (which is why the acceptance test is skipped lol)</p>

<p>Consider my current work-around solution of just changing my deployment command:</p>

{{code-snippet name="-deploy.sh"}}

<p>Also, If ember server is taking too long to deploy, you may need to warm it up in your ram before running deploy</p>