<p>Run the build command with ember</p>

{{code-snippet name="-usage.sh"}}

<p>That's it!</p>

<h4>Why This Site?</h4>
<p>By the way, in case you're wondering I bothered to write up a website for an explanation that can be done in just a README.markdown file in the project's github... </p>

<p>Well, it's because this dummy app is apart of the test that ensures this app is working.</p>

<p>In fact, this site is built with Ember, yet it's a static site and so will work even if you turn off your javascript!</p>